<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span style="font-size:14px;"><script src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/handlebars-v4.0.12.js"></script> </span>

</head>
<body>

<script id="block-expressions-template" type="text/x-handlebars-template">
<p>你好：{{name}}</p>
</script>
<p>cehn</p>
<div class="content-placeholder"></div>
<script type="text/javascript" src="js/HanderbarsTest.js"></script>
</body>
</html>